.navbar-default {
	background: #ffffff;
	height: 100px; 
	border-radius: 0;
}

#flixterheader {
	color: #0B5596;
	font-family: 'amblebold', serif;
	
}

p {
	font-family: 'asapmedium';
	letter-spacing: 2px; 
}